@import url('https://fonts.googleapis.com/css?family=Lato');

* {
	box-sizing: border-box;
}

body {
	background: #FFEBCD;
	background-size: cover;
	background-position: center	center;
	
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;

	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
	margin: 0 0 0;
	max-height: 300px;
}

.navbar.navbar-default.navbar-static-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: #FFF;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: 1px;
}

.navbar.navbar-default.navbar-static-top .container-fluid .navbar-header .navbar-brand {
	font-size: 25px;
	font-weight: 700;
	letter-spacing: 1px;
}

.navbar.navbar-default.navbar-static-top a {
	color: 	#6495ED;
}

h2 {
	color: 	#6495ED;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
	font-size: 34px;
	font-weight: 700;
	position:absolute;
	top: 70px;
	margin-left: auto;
	margin-right: auto;
}

#avatar1 {
	background-color:	#FDF5E6;
	border-radius: 5%;
	overflow: visible;
	position:absolute;
    top: 165px;
    margin-right: 1300px;
	width: 200px;
	height: 450px;
}

#avatar2 {
	background-color:	#FDF5E6;
	border-radius: 5%;
	overflow: visible;
	position:absolute;
    top: 165px;
    margin-right: 850px;
	width: 200px;
	height: 450px;
}

#avatar3 {
	background-color:	#FDF5E6;
	border-radius: 5%;
	overflow: visible;
	position:absolute;
    top: 165px;
    margin-left: 850px;
	width: 200px;
	height: 450px;
}

#avatar4 {
	background-color:	#FDF5E6;
	border-radius: 5%;
	overflow: visible;
	position:absolute;
    top: 165px;
    margin-left: 1300px;
	width: 200px;
	height: 450px;
}

span.name {
	border-radius: 5%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	bottom:5px;
	color:#6495ED;
	font-size: 17px;
	font-weight: 700;

}

.col-lg-6 {
	position:absolute;
	top: 650px;
}

.chat-container {
	background-color:	#FDF5E6;
	border: 3px solid transparent;
	border-radius: 25px;
	padding: 15px;
	position:absolute;
	width: 560px;
	max-width: 100%;
	margin-bottom:200px;
	top: 150px;
	overflow-y: scroll;
	max-height: 400px;
}

.chat {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	list-style-type: none;
	padding: 0;
	margin-bottom: 20px;
}

.message {
	border-radius: 50px;
	position: relative;
	margin-bottom: 30px;
}

.message.left {
	background-color: rgba(255, 255, 255, 0.9);
	padding: 15px 20px 15px 70px;
}

.message.left div.name {
	border-radius: 5%;
	position: absolute;
	left: 10px;
	top: 55px;
	color: #6495ED;
}

.message.right {
	background-color: #6495ED;
	align-self: flex-end;
	padding: 15px 70px 15px 20px;
}

.message.right div.name {
	border-radius: 5%;
	position: absolute;
	right: 10px;
	top: 55px;
	color: #6495ED;
}

.logo {
	border-radius: 50%;
	box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.7);
	-o-object-fit: cover;
	   object-fit: cover;
	position: absolute;
	left: 10px;
	top: -10px;
	width: 50px;
	height: 50px;
}

.message.right .logo {
	left: auto;
	right: 10px;
}

.message.left p {
	margin: 0;
	color: #6495ED;
	font-size: 17px;
	font-weight: 700;
}

.message.right p {
	margin: 0;
	color: #fff;
	font-size: 17px;
	font-weight: 700;
}
